In [1]:
#Importing packages
import pandas as pd
import numpy as np

In [2]:
#Reading and opening the file
df = pd.read_csv("adult_csv.csv", na_values=['#NAME?'])
df.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K
5,2,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,2,United-States,<=50K
6,3,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,0,Jamaica,<=50K
7,3,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,2,United-States,>50K
8,1,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,4,0,3,United-States,>50K
9,2,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,2,0,2,United-States,>50K
10,2,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,4,United-States,>50K
11,1,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,2,India,>50K
12,0,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,1,United-States,<=50K
13,1,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,3,United-States,<=50K
14,2,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,2,NaN,>50K
15,1,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,2,Mexico,<=50K
16,0,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,1,United-States,<=50K
17,1,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,2,United-States,<=50K
18,2,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,3,United-States,<=50K
19,2,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,2,United-States,>50K

In [3]:
#Checking the columns
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capitalgain', 'capitalloss', 'hoursperweek', 'native-country',
       'class'],
      dtype='object')

In [5]:
# Counting the value
df['class'].value_counts()

<=50K    37155
>50K     11687
Name: class, dtype: int64

In [19]:
# Renaming the columns
df.rename(columns={'class':'Income'}, inplace = True)

In [25]:
# <=50k is 0 >=50k is 1
# for x in df['Income']:
#     if x == "<=50K":
#         print('0')
#     else:
#         print('1')
df['Income'] = [0 if x == "<=50K" else 1 for x in df['Income']]
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,Income
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,1
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,1
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,1
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,1
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,1
5,2,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,2,United-States,1
6,3,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,0,Jamaica,1
7,3,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,2,United-States,1
8,1,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,4,0,3,United-States,1
9,2,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,2,0,2,United-States,1
10,2,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,4,United-States,1
11,1,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,2,India,1
12,0,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,1,United-States,1
13,1,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,3,United-States,1
14,2,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,2,NaN,1
15,1,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,2,Mexico,1
16,0,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,1,United-States,1
17,1,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,2,United-States,1
18,2,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,3,United-States,1
19,2,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,2,United-States,1
20,2,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,3,United-States,1
21,3,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,0,United-States,1
22,1,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,2,United-States,1
23,2,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,3,2,United-States,1
24,4,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,2,United-States,1
25,4,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,2,United-States,1
26,0,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,2,United-States,1
27,3,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,3,South,1
28,2,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,4,United-States,1
29,3,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,2,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,4,NaN,26711,Assoc-voc,11,Married-civ-spouse,NaN,Husband,White,Male,1,0,0,United-States,1
48813,4,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,3,0,2,United-States,1
48814,2,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,2,2,United-States,1
48815,2,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,3,United-States,1
48816,2,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,3,3,United-States,1
48817,0,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,2,United-States,1
48818,4,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,2,United-States,1
48819,1,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,2,United-States,1
48820,4,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,0,United-States,1
48821,1,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,2,United-States,1
48822,2,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,4,0,3,United-States,1
48823,3,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,2,United-States,1
48824,0,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,2,United-States,1
48825,4,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,1,United-States,1
48826,3,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,2,NaN,1
48827,3,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,1,United-States,1
48828,2,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,2,United-States,1
48829,4,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,2,United-States,1
48830,1,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,2,United-States,1
48831,3,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,2,United-States,1
48832,4,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,3,United-States,1
48833,1,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,2,United-States,1
48834,0,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,2,United-States,1
48835,3,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,2,United-States,1
48836,1,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,2,United-States,1
48837,2,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,2,United-States,1
48838,4,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,2,United-States,1
48839,2,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,3,United-States,1
48840,2,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,2,0,2,United-States,1
48841,1,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,United-States,1

In [27]:
# Dividing the dataset into features and label
X = df.drop('Income',1)
y = df.Income

In [29]:
# Checking the feature
X.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba

In [50]:
#Checking the Label This did not work well
pd.set_option("display.max_rows", 20000)
print(y.head())

0    1
1    1
2    1
3    1
4    1
Name: Income, dtype: int64

In [51]:
#Checking the value count
df['Income'].value_counts()

1    48842
Name: Income, dtype: int64

In [54]:
# Dealing with categorical features
print(X['education'].head(5))

0    Bachelors
1    Bachelors
2      HS-grad
3         11th
4    Bachelors
Name: education, dtype: object

In [56]:
# Also we can do this using scikit learn OneHotEncoder
print(pd.get_dummies(X['education']).head(5))

   10th  11th  12th  1st-4th  5th-6th  7th-8th  9th  Assoc-acdm  Assoc-voc  \
0     0     0     0        0        0        0    0           0          0
1     0     0     0        0        0        0    0           0          0
2     0     0     0        0        0        0    0           0          0
3     0     1     0        0        0        0    0           0          0
4     0     0     0        0        0        0    0           0          0

   Bachelors  Doctorate  HS-grad  Masters  Preschool  Prof-school  \
0          1          0        0        0          0            0
1          1          0        0        0          0            0
2          0          0        1        0          0            0
3          0          0        0        0          0            0
4          1          0        0        0          0            0

   Some-college
0             0
1             0
2             0
3             0
4             0

In [61]:
# Checking how many categorical features we have in our dataset
for col_name in X.columns:
    if X[col_name].dtypes == 'object':
        unique_cat = len(X[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'workclass' has 9 unique categories
Feature 'education' has 16 unique categories
Feature 'marital-status' has 7 unique categories
Feature 'occupation' has 15 unique categories
Feature 'relationship' has 6 unique categories
Feature 'race' has 5 unique categories
Feature 'sex' has 2 unique categories
Feature 'native-country' has 42 unique categories